@-ms-viewport{
  width: device-width;
}
* {
	font-family:arial;
}
body {
	background-color: white;
}
#title {
	background-color: rgb(249, 154, 0);
	border: 1px solid black;
	box-shadow: 10px 10px 5px grey;
}
#title img {
	width:50px;
	height:50px;
	mix-blend-mode: darken;
}
#header {
	padding-bottom: 5px;
}
#header h1{
	color: green;
	 text-shadow: 2px 2px #000000;
	 text-align: center;
}
#header #datecon {
	color: green;
	text-align: center;
	margin-top: 10px;
}
.panel-default > .panel-heading {
	background-color: rgba(34, 150, 67,1);
} 
.panel-heading h3{
	color:rgb(249, 154, 0);
	font-size: 22px;
	text-shadow: 0px 2px black;
}
.panel-body{
	box-shadow: 10px 10px 5px grey;
}
#blog img {
	display: block;
	margin-right: auto;
	margin-left: auto;
    box-shadow: 10px 10px 5px grey;
}
#blog .panel-body {
	font-size:1.5em;
}
#fcenter {
	text-align: center;
	background:rgba(66, 158, 63,1);
	border: 1px solid rgba(22, 104, 19,1);
	padding-top: 5px;
}
#foot img {
	height: 50px;
	width: 50px;
	mix-blend-mode: multiply;
}
.hidden {
	display: none;
}
#info {
	padding-bottom: 10px;
	display: block;
}
#gallery {
	display: block;
}
#gallery p{
	display: inline-block;
	text-align: center;
}
#gallery img{
	margin-bottom: 5px;
	margin-top: 5px;
	border: 2px solid green;
	border-radius: 5px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#mail {
	display: block;
}
#contact {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	background-color: orange;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}
