<!DOCTYPE HTML>
<html>

<head>
	<Title>BPG</Title>
	<link rel="shortcut icon" href="./images/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,900' rel='stylesheet' type='text/css'>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
	
	<!--[htmlclean-protect]-->
	<!-- inject:css -->
	<!-- endinject -->
	<!--[/htmlclean-protect]-->
</head>

<body>
	<header>
		<h1 id="title">Back Porch Gardening</h1>
		<h3>A Gardening Blog</h3>
	</header>
	<main>
		<div class="current-description">
			<h2>Blog</h2>
		</div>
		<div id="app">
			<router-view />
		</div>
	</main>
	<template id="list-template">
		<div class="wrap">
			<article class='entry' v-for="post in posts">
				<router-link :to="{ name: 'post', params: { id: post.Id }}">
					<h2>{{post.Title}}</h2> 
					<hr />
				</router-link>
				<p>{{post.Brief}}</p>
				<div class="date">
					<p >Posted on {{post.Date}}</p>
				</div>
			</article>
		</div>
		<!--
		<ul>
			<li v-for="post in posts">
				<router-link :to="{ name: 'post', params: { id: post.id }}">
					{{post.title}}
					{{post.Date}}
				</router-link>
			</li>
		</ul>
	-->
	</template>
	<template id="post-template">
		<div class="article">
			<router-link :to="{ name: 'homepage' }">Homepage</router-link>
			<h2>{{post.Title}}</h2>
			<hr />
			<p>{{post.Article}}</p>
			<img class="responsive" v-bind:src="post.Image"></img>
		</div>
	</template>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js'></script>
	<!--[htmlclean-protect]-->
	<!-- inject:js -->
	<!-- endinject -->
	<!--[/htmlclean-protect]-->
</body>

</html>