$blue-lagoon: #B5E2FA;
$white-smoke: #F9F7F3;
$mountain: #35CE8D;
$pale-gold: #EDDEA4;
$light-salmon: #F7A072;

html,
body {
    margin: 0;
    padding: 0;
    background-color: $white-smoke;
}

h1 {
    color: $white-smoke;
    font-family: 'PT Sans Narrow';
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 5px;
    margin-bottom: 48px;
}

p {
    color: #516163;
    font-family: 'PT Sans';
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 36px;
}

a {
    color: $mountain;
    &:hover {
        color: #323B3C;
    }
}

header {
    background-color: $mountain;
    margin: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    #title {
        margin: 0;
        padding-bottom: 0;
        text-transform: uppercase;
    }
    h3 { 
        margin: 0;
        text-transform: uppercase;
    }
    &:after {
        display: block;
        content: '';
        width: 100%;
        height: 2em;
        background-color: #323B3C;
        position: relative;
        bottom: -4em;
        left: 0;
        transform-origin: center;
        animation: 1s grow forwards;
    }
}

main{
    padding: 0;
    margin: 0;
}

.current-description{ 
    margin: 4em auto auto auto;
    padding: .5em;
    background-color: #35CE8D;
    width: 80%;
    h2{
        font-size: 30px;
        color: $white-smoke;
        line-height: 50px;
        text-transform: uppercase;
        padding-left: 1em; 
    }
} 


#app{
    padding: 0;
    margin: 0;
    width: 80%;
    margin: auto;
    background-color: rgb(233, 233, 233);
}

.wrap{
    display: flex;
    flex-flow: row; 
    flex-wrap: wrap;
    justify-content: space-around;
    article{
        min-height: 100%;
        
    }
}

.entry{
    border-radius: 5px;
    flex-basis: 23%;
    min-width: 200px;
    max-width: 300px;
    height: 200px;
    background-color: white;
    margin: 1em 1em;
    display: flex; 
    flex-flow: column;
    justify-content: space-between;
    transition: 1s;
    hr{
        width: 80%;
        color:rgb(233, 233, 233);
        color: $pale-gold;
    }
    h2{
        padding-left: .5em;
        padding-right: .5em;
        color: black;
        text-decoration: none;
    }
    p{
        padding-left: .5em;
        padding-right: .5em;
        font-size: .8em;
        margin: 0;
    }
    &:hover{
        animation: .5s expand forwards;
    }
    
}

.date{
    padding: 0;
    margin: 0;    
    font-size: 1em;
    bottom: 0;
    right: 0;
    font-family: 'PT Sans Narrow';
}

.article{
    padding: .2em;
}

.responsive{
    width: 50%;
    display: block;
    margin: auto;
}


@keyframes grow {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes expand {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}